*
{
    margin: 0px;
    padding: 0px;
}
/*============================{Nav Bar [Start]}=========================*/
ul 
{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li
{
    float: right;
}
  
li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover 
{
    background-color: #111;
}

li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavImg
{
    float: left;
}

.ImgStyle
{
    width: 55px;
    height: 46px;
    float:left;
}
/*============================{Nav Bar [End]}============================*/

/*============================{clickable div [start]}============================*/
.pop_up_div{
    margin: 80px;
}

.pop_up_div img{
    width: 80%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pop_up_div h1{
    position: relative;
    display: inline;
    top: -110px;
    left: 200px;
}


/*============================{clickable div [end]}============================*/


/*============================{About Us CSS [Start]}============================*/

.aboutus h1{
text-align: center;
padding: 1%;
width: 20%;
margin-top: 2%;
margin-left: auto;
margin-right: auto;
background-color: rgb(155, 101, 62);;
border: white 5px solid;
}

.aboutus img {
    width: 90%;
    margin-left: 5%;
    text-align: left;
    display: inline;
    border: white 15px solid;
}

.aboutus p{
    display: inline;
    text-align: left;
}

.aboutuscolumn {
    float: left;
    padding: 10px;
}

.aboutuscolumn.img {
    width: 30%;
}
.aboutuscolumn.text {
    width: 66%;
}
  

.aboutusrow:after {
    content: "";
    display: table;
    clear: both;
}

.aboutus p {
    background-color: rgb(155, 101, 62);
    border: white solid 5px;
    width: auto;
    display: block;
    margin-right: 25%;
    font-size: 18px;
    padding: 10px;

}
  

@media screen and (max-width:600px) {
    .aboutuscolumn {
      width: 100%;
    }
}


/*============================{About Us CSS [End]}============================*/